<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">C.R.U.D.</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h5 class="muted">Developed by:</h5>
      <ul>
        <li class="muted">Eduardo Antonio Barbosa Ortiz</li>
        <li class="muted">Raúl Rafael Carvajal Gutiérrez</li>
        <li class="muted">Oscar Abraham Ibañez Loreto</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">        
            <div class="form-group">
              <label for="Lastname">Lastname</label>
              <input type="text" class="form-control" id="Lastname" placeholder="Lastname" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="control">Control number</label>
              <input type="text" class="form-control" id="control" placeholder="Control number" [(ngModel)]="control" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="button" *ngIf="!flag" (click)="formSave()">Save</button>
        <button class="btn btn-primary" type="button" *ngIf="flag" (click)="upd()">Update</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Control</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reg of regs">
            <th scope="row">{{reg.name}}</th>
            <td>{{reg.lastname}}</td>
            <td>{{reg.nc}}</td>
            <td>{{reg.email}}</td>
            <td>
              <button class="btn btn-danger" (click)="del(reg._id)">Delete</button>
            </td>
            <td>
              <button class="btn btn-primary" (click)="load(reg._id)">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>